.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar-items {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.navbar-items:hover {
  background-color: #333;
}

.navbar-links {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: chartreuse;
}
