.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar-items:hover {
  background-color: #333;
}

.navbar-links {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

#about hr {
  margin: 50px;
}

#about h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -25px;
}

.about {
  margin-top: 10px;
  display: flex;
  align-content: space-between;
}

#betsy {
  width: 50%;
  height: fit-content;
}

.bio {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 40px;
}

.header {
  background-image: url("./images/tools.jpg");
  background-size: cover;
  background-position-y: -150px;
  height: 250px;
}

.home {
  margin-top: 50px;
}

.home h4 {
  text-align: center;
  margin-bottom: 50px;
}

.contact {
  display: flex;
  align-content: space-between;
}

#map {
  width: 100%;
}

.contact-info ul {
  list-style-type: none;
  text-align: justify;
}

.contact-info li {
  padding-left: 20px;
  font-style: italic;
  font-size: small;
}

.contact-info hr {
  margin-right: 30px;
}

.contact-info ul hr {
  margin-right: 0px;
}

#appointment hr {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: -75px;
  margin-left: -25px;
}

#appointment h4 {
  text-align: center;
  margin-top: 50px;
}

.appointment {
  display: flex;
  align-content: space-between;
}

#appointment-image {
  width: 100%;
  margin-left: 50px;
  margin-top: 75px;
}

#appointment .appointment hr {
  margin: 10px;
  margin-left: 0;
}

.appointment ul li {
  list-style-type: none;
  font-style: italic;
  font-size: small;
}

.appointment ul {
  padding-left: 0;
}

.products {
  text-align: center;
  margin-top: 50px;
}

.products h4 {
  margin-bottom: 25px;
}
