.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar-items:hover {
  background-color: #333;
}

.navbar-links {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.about {
  margin-top: 100px;
  display: flex;
  align-content: space-between;
}

#betsy {
  width: 50%;
  height: fit-content;
}

.bio {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 40px;
}

.header {
  height: 250px;
}

#headerImage {
  size: cover;
}
